<div class="jumbotron w-75 p-3 mx-auto bg-overlay text-center">
  <h1 class="display-4">Burger Time!</h1>
  <p class="lead">Make a burger, eat a burger, repeat...</p>
  <hr class="my-4">
  <h5>Make a new burger</h5>
  <form class="create-form text-left">

    <div class="form-group">
      <label for="burger">Burger Name:</label>
      <input type="text" id="burger" name="name">
    </div>

    <div class="form-group">
      <label for="devoured">Eaten yet??</label><br>
      <input type="radio" name="devoured" value="0" checked> Not yet<br>
      <input type="radio" name="devoured" value="1"> Already eaten
    </div>

    <button type="submit">Add Burger</button>
  </form>
</div>

<div class="container" style="width:100%">
  <ul class="float-left">
  <h2>Uneaten Burgers</h2>
    {{#each burgers}}
      {{#unless devoured}}
        {{> burgers/burger-block devoured=true}}
      {{/unless}}
    {{/each}}
  </ul>

  <ul class="float-right">
  <h2>Devoured Burgers</h2>
    {{#each burgers}}
      {{#if devoured}}
        {{> burgers/burger-block devoured=false}}
      {{/if}}
    {{/each}}
  </ul>
</div>

{{!-- <div class="card float-left" style="width: 18rem;">
  <div class="card-body">
    <h5 class="text-center">Make a new burger</h5>
    <form class="create-form">

      <div class="form-group">
        <label for="burger">Burger Name:</label>
        <input type="text" id="burger" name="name">
      </div>

      <div class="form-group">
        <label for="devoured">Eaten yet??</label><br>
        <input type="radio" name="devoured" value="1" checked> Not yet<br>
        <input type="radio" name="devoured" value="0"> Already eaten
      </div>

      <button type="submit">Add Burger</button>
    </form>
  </div>
</div> --}}

