* {
  color:black; 
  font-family: 'Gloria Hallelujah', cursive;
  font-size: 18px; 
}

body {
  background: url('/assets/img/bobsBurgers2.png'); 
  background-repeat: no-repeat;
  background-size: auto;


  margin: 50px;
  padding: 50px;
}

#jumbo {
  background-color: rgba(161, 144, 144, 0.507); 
}

.jumbotron h1 {
  font-size: 80px; 
}

ul {
  list-style-type: none;
}

.card-title {
  color: black; 
}

button {
  color: black; 
  display: block;
  margin: 0 auto 5px auto;
}